GROQ_API_KEY = ""
AVIATIONSTACK_API_KEY = ""
OPENWEATHER_API_KEY = ""
DEFAULT_ORIGIN_IATA = "ATL"
TAVILY_API_KEY = 
DATABASE_URL = postgresql://user:pass@host:port/db
LANGSMITH_TRACING = "true"
LANDSMITH_ENDPOINT = "https://api.smith.lngchin.com"
LANDSMITH_API_KEY = ""
LANGSMITH_PROJECT = "TripMate-AI"